{{extend "site/home.html"}}

{{block mainmenu}}
{{from uliweb_layout.menu import navigation}}
{{<< navigation('MAIN_MENU')}}
{{end}}

{{block content_wrapper}}
<link rel="stylesheet" type="text/css" href="{{=url_for_static('site/site.css')}}">
{{use "ui.vue"}}
{{link "works/css/home.css"}}
{{link "works/js/home.js"}}

<div class="row" id="header-unit">
    <h1>We Work Together</h1>
    <p class="sub-title">我们工作在一起, 记录下工作中的点点滴滴...</p>
</div>

<div class="content-wrapper">
    <div class="container">
        {{include "layout/include/inc_1column_content_wrapper.html"}}
    </div>
</div>

{{end}}

{{block content}}
<div class="container" style="height:300px;padding-top:40px;" id="app1">
    <div class="row">
        <card v-for="card in cards" :card="card"></card>
    </div>
</div>

<script>
    var app1 = new Vue({
      el: '#app1',
      data: {
        cards: {{$ settings.SITE.cards}}
      },
      delimiters: ['{', '}']
    })
</script>
{{end}}

{{block footer}}
  <footer class="main-footer" id="app2">
    <div class="container">
      <div class="row">
          <Footer-Card v-for="card in footerCards"
                       :card="card"
                       :size="12/footerCards.length"></Footer-Card>
      </div>
    </div>
  </footer>
  <div id="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="col-sm-12" id="copyright">
                  {{block footer-bottom}}
                    {{<< settings.LAYOUT.footer }}
                  {{end}}
              </div>
          </div>
      </div>
  </div>

  <script>
    var app2 = new Vue({
      el: '#app2',
      data: {
        footerCards: {{$ settings.SITE.footer_cards}}
      },
      delimiters: ['{', '}']
    })
  </script>
{{end}}