{{extend "site/home.html"}}

{{block content_wrapper}}
<link rel="stylesheet" type="text/css" href="{{=url_for_static('site/site.css')}}">
{{use "ui.vue"}}
{{link "works/css/home.css"}}
{{link "works/js/home.js"}}

<div class="row" id="header-unit">
    <h1>We Work Together</h1>
    <p class="sub-title">我们工作在一起, 记录下工作中的点点滴滴...</p>
</div>

<div class="content-wrapper">
    <div class="container">
        {{include "layout/include/inc_1column_content_wrapper.html"}}
    </div>
</div>

{{end}}

{{block content}}
<div class="container" style="height:300px;padding-top:40px;" id="app">
    <div class="row">
        <card v-for="card in cards" :card="card"></card>
    </div>
</div>

<script>
    var app = new Vue({
      el: '#app',
      data: {
        cards: {{$ settings.SITE.cards}}
      },
      delimiters: ['{', '}']
    })
</script>
{{end}}

{{block footer}}
  <footer class="main-footer">
    <div class="container">
      <div class="row">
          {{block footer-top}}
          <footer-cards></footer-cards>
          {{end}}
      </div>
    </div>
  </footer>
  <div id="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="col-sm-12" id="copyright">
                  {{block footer-bottom}}
                  <ul>
                      <li>{{<< settings.LAYOUT.COPYRIGHT or '&copy; 2014 Uliweb Admin'}}</li>
                      <li>/</li>
                      <li><a mailto="{{=settings.SITE.mailto}}">{{=settings.SITE.mailto}}</a></li>
                  </ul>
                  {{end}}
              </div>
          </div>
      </div>
  </div>

<script>
  riot.mount('cards', {cards:{{<< json_dumps(settings.SITE.cards)}}});
  riot.mount('footer-cards', {cards:{{<< json_dumps(settings.SITE.footer_cards)}}});
</script>
{{end}}