{{extend "article_layout.html"}}

{{block content_main}}

<div id="app">
    <article-list :url="url" :category="category" :categories="categories"></article-list>
</div>

{{use "ui.vue"}}
{{link "works/css/article.css"}}
{{link "works/js/article.js"}}

<script>
    var app = new Vue({
        el: '#app',
        data: {
            url: '/article?data=1',
            category: {{$ request.GET.get('category', '')}},
            categories: {{$ [{'value':'', 'text':'全部'}] +
                [{'value':value, 'text':text} for value, text in categories] }}
        }
    })
</script>
{{end}}
