{{extend "milestone_layout.html"}}

{{block content_main}}

{{include "inc_rgrid.html"}}
<rgrid id="grid"></rgrid>

<script>
  var tools = [
    [
      {
        label: '增加',
        onClick: function() {
          var options = {
            onSuccess: function(dialog, d) {
              grid.update(d.data)
            }
          }
          dialog('/settings/milestone/add', options);
        }
      },
      {
        label:'编辑',
        checkSelected: true,
        class: 'btn-info',
        onClick:function () {
          var options = {
            onSuccess: function(dialog, d) {
              grid.update(d.data)
            }
          }
          var rows = grid.get_selected()
          dialog('/settings/milestone/edit/'+rows[0]['id'], options);
        }
      },
      {
        label:'删除',
        id:'btnDelete',
        class: 'btn-danger',
        checkSelected: true,
        onClick:function () {
          var rows = grid.get_selected()
          Confirm('确认要删除当前记录吗?', function(r){
            if(r) grid.remove(rows, '/settings/milestone/delete/'+rows[0]['id'])
          })
        }
      }
    ]
  ]

  create_table('grid', {
    rowHeight:40,
    tools:tools,
    indexCol:true,
    checkCol:true,
    height:'auto',
    theme: 'table-striped'
  })

  var grid = document.getElementById('grid')

</script>
{{end}}
