{{extend "issue_layout.html" extend "site/layout0.html"}}

{{block content_header_title}}
  <h1>需求/问题看板</h1>
{{end}}

{{block content_main}}

{{use "ui.vue"}}
{{use "ui.vue_router"}}
{{link "works/css/kanban.css"}}
{{link "works/js/kanban.js"}}
{{link "works/js/utils.js"}}

<div id="kanban">
  <kanban
          :lists="lists"
          :list_width="list_width"
          :height="400"
          :only-name="true"
          @open="open"
          @move="move"
          @add="add"
  >
    <div slot="header">
      <dropdown :items="domains"
                placeholder="请选择某个领域"
                @input="change"
                v-model="query.domain"
      ></dropdown>
      <dropdown :items="users"
                placeholder="请选择责任人"
                @input="change"
                v-model="query.user"
      ></dropdown>
      <dropdown :items="milestones"
                placeholder="请选择里程碑"
                @input="change"
                v-model="query.milestone"
      ></dropdown>
      <button class="btn btn-default"
              @click="refresh"
              data-toggle="tooltip"
              title="刷新"
      ><i class="fa fa-refresh"></i></button>
      <button class="btn btn-default"
              @click="clear">清除条件</button>
    </div>
  </kanban>
</div>
<script>
      var kanban = new Vue({
      el: '#kanban',

      methods: {
        //增加新的卡片, list是列的对象，主要用于获得是那个栏位
        add : function (status) {
          window.open('/issue/add?domain='+this.query.domain+'&status='+status)
        },
        //某个卡片移动到另一个list时的事件
        move: function (card_id, status) {
          $.post('/issue/change_status/'+card_id+'?status='+status)
            .success(function(r){

            })
        },
        open: function (card) {
          window.open('/issue/view/'+card.id)
        },
        change: function() {
          var self = this
          $.get('/issue/get_data', this.query).success(function(r){
            self.lists = r.data
          })
        },
        refresh: function () {
          this.change()
        },
        clear: function () {
          this.query = {domain: '', user: '', milestone: ''}
          this.change()
        }
      },
      data: {
        query: {
          domain: '',
          user: '',
          milestone: ''
        },
        list_width: 270,
        domains: {{$ domains}}, //领域
        milestones: {{$ milestones}}, //里程碑
        users: {{$ users}}, //责任人
        lists: []
      },
      mounted: function () {
        this.change()
      }

    })

</script>

{{end}}
