{{extend "issue_layout.html"}}

{{block content_main}}

{{include "inc_rgrid.html"}}
<rgrid id="grid"></rgrid>

<script>
  var tools = [
    [
      {
        label: '增加',
        onClick: function() {
          /*var options = {
            onSuccess: function(dialog, d) {
              grid.update(d.data)
              window.location.href = '/issue/view/'+d.data['content.id']
            }
          }
          dialog('/issue/add', options);
          */
          window.location.href = '/issue/add'
        }
      },
      {
        label:'编辑',
        checkSelected: true,
        class: 'btn-info',
        onClick:function () {
          /* var options = {
            onSuccess: function(dialog, d) {
              grid.update(d.data)
            }
          }
          var rows = grid.get_selected()
          dialog('/issue/edit/'+rows[0]['content.id'], options);
          */
          var rows = grid.get_selected()
          window.location.href = '/issue/edit/'+rows[0]['content.id']
        }
      },
      {
        label:'删除',
        id:'btnDelete',
        class: 'btn-danger',
        checkSelected: true,
        onClick:function () {
          var rows = grid.get_selected()
          Confirm('确认要删除当前记录吗?', function(r){
            if(r) grid.remove(rows, '/issue/delete/'+rows[0]['content.id'])
          })
        }
      }
    ],
    [
      {
        label:'批量导入',
        id:'btnBatch',
        class: 'btn-info',
        onClick:function () {
          window.location.href = '/issue/batch'
        }
      }
    ]
  ]

  create_table('grid', {
    rowHeight:40,
    tools:tools,
    indexCol:true,
    checkCol:true,
    height:'auto',
    idField:'content.id',
    download: true
  })

  var grid = document.getElementById('grid')

</script>
{{end}}
